// main modal styles
@import "../vendor/bootstrap4/bs4modal1";

// vcmodal2
// ==================================================/
.vcmodal2 {
  .bs4modal-body {
    @extend %pos--relative;
    
    .vcmodal2_prevholder,
    .vcmodal2_nextholder {
      @extend %display--none;
    }

    &:hover {
      .vcmodal2_prevholder,
      .vcmodal2_nextholder {
        @extend %display--block;
      }
    }

    .vcmodal2_prevholder,
    .vcmodal2_nextholder {
      @extend %pos--absolute;
      height: 100%;
      top: 0;
      z-index: 2;
    }

    // relative holder for centering svg
    .vcmodal2_svgholder {
      @extend %pos--relative;
      padding: 10px;
      background-color: #000;
      height: 100%;
      cursor: pointer;

      svg {
        @extend %display--inline-block;
        @include center-both;
        width: 24px;
        height: 24px;
        // background-color: #ccc;
        fill: #fff;
      }
    }
  }

  .vcmodal2_prevholder {
    left: 0;
  }

  .vcmodal2_nextholder {
    right: 0;
  }
}

//
